@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gtojur');
  src:  url('../fonts/icomoon.eot?gtojur#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gtojur') format('truetype'),
    url('../fonts/icomoon.woff?gtojur') format('woff'),
    url('../fonts/icomoon.svg?gtojur#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map-marker:before {
  content: "\e91f";
}
.icon-smartphone:before {
  content: "\e91c";
}
.icon-eye:before {
  content: "\e91b";
}
.icon-wikipedia:before {
  content: "\e91e";
}
.icon-woman:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-substract:before {
  content: "\e902";
}
.icon-add:before {
  content: "\e903";
}
.icon-tag1:before {
  content: "\e904";
}
.icon-arrow:before {
  content: "\e905";
}
.icon-back:before {
  content: "\e906";
}
.icon-close-envelope:before {
  content: "\e907";
}
.icon-dollar-symbol:before {
  content: "\e908";
}
.icon-facebookFooter:before {
  content: "\e909";
}
.icon-instagramFooter:before {
  content: "\e90a";
}
.icon-locate:before {
  content: "\e90b";
}
.icon-manager:before {
  content: "\e90c";
}
.icon-money:before {
  content: "\e90d";
}
.icon-next:before {
  content: "\e90e";
}
.icon-pdf:before {
  content: "\e90f";
}
.icon-phone2:before {
  content: "\e910";
}
.icon-rewind-time:before {
  content: "\e911";
}
.icon-snapchat:before {
  content: "\e912";
}
.icon-speech-bubbles:before {
  content: "\e913";
}
.icon-titleAfterBG:before {
  content: "\e914";
}
.icon-titleArrow:before {
  content: "\e915";
}
.icon-titleBeforeBG:before {
  content: "\e916";
}
.icon-twitterFooter:before {
  content: "\e917";
}
.icon-youtubeFooter:before {
  content: "\e918";
}
.icon-more:before {
  content: "\e919";
}
.icon-add-button:before {
  content: "\e91a";
}
.icon-pen:before {
  content: "\e921";
}
.icon-trash:before {
  content: "\e91d";
}
